body {
  text-align: center;
  margin: auto;
  background-color: #FFFed1;
  font-size: 16px;
}


.content {
  text-align: center;
  margin: auto;
  background-color: black;
  color: white;
  border-style: solid;
  border-width: 4px;
  border-color: maroon;
  border-radius: 5px;
  width: 50%;
  padding: 15px;
}

.temp_change:hover {
  background-color: yellow;
}

.temp_change {
  background-color: white;
  width: 50px;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 5px;
}

.reset:hover {
  background-color: yellow;
}
.reset {
  background-color: white;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
}


h1 {
  font-size: 100px;
}
h2 {
  color: #82f0ff;
  font-size: 25px;
}
