body {
  text-align: center;
  margin: auto;
  background-color: black;
  font-size: 16px;
}

.thermostat {
  text-align: center;
  margin: 0 auto;
  background-color: #FFFFF3;
  color: white;
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  border-color: #D3D3D3;
}

#display {
  text-align: center;
  font-size: 50px;
  margin: 0 auto;
  background-color: cornflowerblue;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  color: white;
  width: 50%;
  padding:20px;
}

.temp_change:hover {
  background-color: #D3D3D3;
}

.temp_change {
  background-color: white;
  width: 50px;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 90px;
  width: 60px;
  padding-bottom: 9px;
  border-radius: 5px;
}

.reset:hover {
  background-color: #D3D3D3;
}
.reset {
  background-color: white;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
}

h2 {
  color: black;
  font-size: 25px;
}
